# ignore regular folders
*/
!/.*/

# ignore history files
.zhistory
.python_history
.node_repl_history
.gdb_history
.bash_history

# ignore steam files
.steampath
.steampid
.steam/

# ignore sensitive files
.git-credentials
.anyconnect

# ignore bash configuration
.bash*

# ignore x server configuration
.Xauthority
.Xclients
.Xdefaults
.Xresources

# ignore device specific configuration
.nvidia-settings-rc
.fonts.conf
